*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
#topnav{
	width: 1552px;
	height: 30px;
	margin:0 auto;
	background: #EEEEEE;
}
#pull_left{
	height: 25px;
	width: 229px;
	padding-top: 5px;
	margin-left: 150px;
}
#pull_left #car{
	color:#999;
	font-size: 12px;
	padding-top: 5px;
	width: 155px;
	height: 30px;
}
#pull_left img{
	height: 15px;
}
#pull_left span{
	font-size: 10px;
	margin-left: 5px;
	color: #999;
}
#da{
	font-size: 13px;
	color: #64a131;
}
#da:hover{
	text-decoration: underline;
}
#pull_right{
	width: 520px;
	height: 25px;
	position: absolute;
	top: 0px;
	right: 150px;
	padding-top: 5px;
}
#pull_right:after{
	content: "";
	display: block;
	clear: both;
}
#pull_right li{
	color: #999;
	list-style: none;
	font-size: 12px;
	margin-right: 10px;
	float: left;
}
#pull_right a{
	color: #999;
}
#pull_right a:hover{
	color: #F6AA00;
	text-decoration: underline;
}
#pull_right img{
	height: 20px;
	float: left;
}
#pull_right b{
	color: black;
}
#hot_city{
	height: 360px;
	width: 270px;
	position: absolute;
	left: 170px;
	overflow:scroll;
	display:none;
	background:#fff;
	z-index:99;
}
h5{
	font-size: 14px;
	color: #999;
	font-weight: 500;
	line-height: 1.1;
	margin:10px 0;
}
#hot_city{
	box-shadow:10px 10px 5px grey;
}
.hide a{
	margin-left:10px;
	text-decoration:underline;
}
#gong_gao{
	background:#fff;
	width:210px;
	height:108px;
	position:absolute;
	right:480px;
	z-index:99;
	display:none;
	box-shadow:10px 10px 5px grey;
}
#gong_gao ul li{
	list-style:none;
}
#gong_gao a{
	font-size:11px;
	color:black;
	margin-left:20px;
}
#gong_gao div{
	margin:3px 0;
	border:1px dashed #ccc;
}
#gong_gao p{
	font-size:13px;
	text-align:center;
	color:#65A031;
}
#phoneGuo{
	width:270px;
	height:260px;
	position: absolute;
	right:320px;
	z-index:99;
	display:none;
	background:#fff;
	box-shadow:10px 10px 5px grey;
}
#phoneGuo p{
	font-size:13px;
	text-align:center;
	margin:10px 0;
}
.erweima{
	width:100px;
	height:100px;
	margin-left:5px;
}
.ios,.anzhuo{
	margin-bottom:10px;
	width:146px;
	height:36px;
}
.xz{
	width:146px;
	margin-left:110px;
	margin-top:-100px;
}
.xian{
	width:230px;
	border:1px solid #ccc;
	margin:5px auto;
}
#phoneGuo div span:first-child{
	color:#65A031;
}
#phoneGuo div:last-child{
	margin-left:115px;
	margin-top:-90px;
}
#logoXuan{
	margin:15px auto;
	width:1220px;
	height:80px;
	position:relative;
	div{
		width: 237px;
		height: 70px;
		position:absolute;
		right:50px;
		top: 25px;
		img{
			float: right;
			margin-top:-20px;
		}
	}
	nav{
		color:#ccc;
		font-size: 10px;
		a{
			color:#ccc;
			font-size: 10px;
			padding:0 5px;
		}
	}
}
#logoXuan ul li{
	list-style:none;
	font-size:15px;
	color:#ccc;
	float:left;
	border-right:1px solid #ccc;
	margin:20px 0;
	padding:0 25px;
	a{
		color:#ccc;
	}
}
#logoXuan ul li:last-child{
	border:none;
}
#logoXuan ul li:hover{
	background:#999;
}
#logoXuan ul:after{
	content:"";
	display:block;
	clear:both;
}
#logoXuan ul{
	width:470px;
	position:absolute;
	top:0px;
	left:350px;
}
#logoXuan input{
	border:none;
	border-bottom:1px solid black;
}
.swiper-container {
	margin-top:100px;
    width: 1583px;
    height: 400px;
}  
#four{
	width:1280px;
	height:140px;
	margin:70px auto;
	img{
		margin-right:15px;
	}
	.line{
		width: 1265px;
		border:1px solid #ccc;
		margin: 30px 0;
	}
}
#gift{
	width:1290px;
	height:1000px;
	margin:50px auto; 
	div{
		span{
			float: right;
		}
	}
	.gitCard{
		width: 1290px;
		li{
			list-style: none;
			margin: 5px;
			width: 248px;
			height: 305px;
			float:left;
			list-style: none;
			overflow: hidden;
			img{
				width: 248px;
				height: 248px;
				transition:0.3s;
			}
			img:hover{
				cursor: pointer;
				transform: scale(1.05,1.05);
			}
			.s_info{
				margin-top:10px;
			}
			.s_unit{
				color:#ccc;
			}
		}
	}
	.gitCard:after{
		content:"";
		display:block;
		clear:both;
	}
}
.lineOne{
	width:1290px;
	margin:20px auto;
	border:1px solid #ccc;
}
#familyMall{
	width:1290px;
	height:700px;
	margin:50px auto; 
	div{
		span{
			float: right;
		}
	}
	.familyShop{
		width: 1290px;
		li{
			list-style: none;
			margin: 5px;
			width: 248px;
			height: 305px;
			float:left;
			list-style: none;
			overflow: hidden;
			img{
				width: 248px;
				height: 248px;
				transition: 0.3s;
			}
			img:hover{
				cursor: pointer;
				transform: scale(1.05,1.05);
			}
			.s_info{
				margin-top:10px;
			}
			.s_unit{
				color:#ccc;
			}
		}
	}
	.familyShop:after{
		content:"";
		display:block;
		clear:both;
	}
}
#worldGuo{
	width:1290px;
	height:700px;
	margin:50px auto; 
	div{
		span{
			float: right;
		}
	}
	.worldshop{
		width: 1290px;
		li{
			list-style: none;
			margin: 5px;
			width: 248px;
			height: 305px;
			float:left;
			list-style: none;
			overflow: hidden;
			img{
				width: 248px;
				height: 248px;
				transition: 0.3s;
			}
			img:hover{
				cursor: pointer;
				transform: scale(1.05,1.05);
			}
			.s_info{
				margin-top:10px;
			}
			.s_unit{
				color:#ccc;
			}
		}
	}
	.worldshop:after{
		content:"";
		display:block;
		clear:both;
	}
}
#xinxian{
	width:1290px;
	margin:0px auto; 
	div{
		span{
			float: right;
		}
	}
	.xinshop{
		width: 1290px;
		li{
			list-style: none;
			margin: 5px;
			width: 248px;
			height: 305px;
			float:left;
			list-style: none;
			overflow: hidden;
			img{
				width: 248px;
				height: 248px;
				transition: 0.3s;
			}
			img:hover{
				cursor: pointer;
				transform: scale(1.05,1.05);
			}
			.s_info{
				margin-top:10px;
			}
			.s_unit{
				color:#ccc;
			}
		}
	}
	.xinshop:after{
		content:"";
		display:block;
		clear:both;
	}
}
#surver{
	width:1280px;
	height:107px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	list-style:none;
	margin:0 auto;
	li{
		float: left;
		margin: 30px 55px 0 0;
		padding-right:55px;
		border-right:1px solid #ccc;
	}
	li:last-child{
		border:none;
		margin: 30px 0 0 0;
		padding:0;
	}
}
#surver:after{
	content:"";
	display:block;
	clear:both;
}
#diBu{
	position:relative;
	margin:10px auto;
	width:1280px;
	.left{
		margin-top: 20px;
		span{
			color:#999;
		}
	}
	.middle{
		position:absolute;
		top: 10px;;
		left: 450px;
		list-style: none;
		li{
			float: left;
		}
		li:first-child{
			margin-right: 30px;
		}
	}
	.right{
		list-style: none;
		position:absolute;
		top: 10px;
		right: 0px;
		li{
			float: left;
			margin:20px 25px 0 0;
			p{
				margin-bottom: 20px;
			}
			a{
				color:#999;
			}
			a:hover{
				color:#8FB13D;text-decoration:underline;
			}
		}
	}
	#banQuan{
		p{
			text-align: center;
		}
		p:first-child{
			color: #999;
		}
		p:last-child{
			color:#8FB13D;
		}
		div{
			margin: 0 auto;
			width: 47px+40px;
			img:last-child{
				width: 35px;
			}
		}
	}
	.right:after{
	content:"";
	display:block;
	clear:both;
	}
	.middle:after{
		content:"";
		display:block;
		clear:both;
	}
}
#fixed{
	position:fixed;
	bottom:0;
	right:0;
}